*{
  margin: 0;
}

#app{
  width: 100%;
}

body{
  background-color: black;
  color:white;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.top{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.top button{
  margin:1rem;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 2rem;
  font-weight: 900;
}
.top button:hover{
  cursor: pointer;
}
.text_button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#c{
  height: 100vh;
}

h1{
  color:white
}

